<!DOCTYPE html
<html>
  <head>
    <script type="text/javascript" src="https://js.braintreegateway.com/pwpp/beta/braintree-paypal.js"></script>
  </head>
  <body>

    <form id="merchant-form" action="/create-transaction" method="post">
      <input type="text" name="payment_method_nonce" id="payment-method-nonce" />
      <div id="paypal-container"></div>
      <input type="submit" value="Submit" />
    </form>

  <select>
   <% @partners.each do |partner| %>
    <option value="<%= partner.partners_merchant_id %>"></option>
  </select>

    <script type="text/javascript">
      braintree.paypal.create(
        <%= @client_token %>,
        {
          container: "paypal-container",  // to specify DOM elements, use an ID, a DOM node, or a jQuery element
          paymentMethodNonceInputField: "payment-method-nonce"
        }
      );
    </script>

  </body>
</html>