<!DOCTYPE html
<html>
  <head>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  </head>
  <body>
    <form id="customer-form" action="/find_customer" method="post">
      <select id="customer_id" name="customer_id">
       <% @customers.each do |customer| %>
       <option value="<%= customer.customer_id %>"><%= customer.customer_id %></option>
       <% end %>
       </select>
        <input type="submit" value="Submit" />
    </form>
  </body>
</html>