<!DOCTYPE html
<html>
  <head>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>
  </head>
  <body>
  <form id="checkout" method="post" action="/checkout">
    <script>
  BraintreeData.setup("yz2f2d9s3v4wmygp", "checkout", BraintreeData.environments.sandbox);
   </script>
    <div id="checkout"></div>
    <script type="text/javascript">
  braintree.setup(<%= @client_token %>, 'dropin', {
    container: 'checkout'
  });
    </script> 
    <label>Customer First Name</label>
    <input type="text" id="first_name" name="first_name" size="20"></input>
    <label>Customer Last Name</label>
    <input type="text" id="last_name" name="last_name" size="20"></input>
    <div id="Address"></div>
    <label>Street Address</label>
    <input type="text" id="street_address" name="street_address" size="20"></input>
    <label>Postal Code</label>
    <input type="text" id="postal_code" name="postal_code" size="6"></input>
    <label>City</label>
    <input type="text" id="city" name="city" size="20"></input>
    <label>State</label>
    <input type="text" id="state" name="state" size="2"></input>
    <div id="submit"></div>
    <input type="submit" value="Pay $10">
  </form>
 </body>   
</html>