<!DOCTYPE html
<html>
  <head>
    <script src="https://assets.braintreegateway.com/js/beta/braintree-hosted-fields-beta-latest.js
"></script>
    <script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>
  <style>
    #card-number {
      border: 1px solid #333;
      height: 45;
      width: 250;
      font-size: 18pt;
      -webkit-transition: border-color 160ms;
      transition: border-color 160ms;
    }
    #card-number.braintree-hosted-fields-focused {
      border-color: #777;
    }
    #card-number.braintree-hosted-fields-invalid {
      border-color: tomato;
    }
    #card-number.braintree-hosted-fields-valid {
      border-color: limegreen;
    }
    #cvv {
      border: 1px solid #333;
      height: 45;
      width: 75;
      font-size: 18pt;
      -webkit-transition: border-color 160ms;
      transition: border-color 160ms;
    }
    #cvv.braintree-hosted-fields-valid {
      border-color: limegreen;
    }
    #cvv.braintree-hosted-fields-invalid {
    border-color: tomato;
    }
    #expiration-date {
      border: 1px solid #333;
      height: 45;
      width: 75;
      font-size: 18pt;
      -webkit-transition: border-color 160ms;
      transition: border-color 160ms;
    }
    #expiration-date.braintree-hosted-fields-valid {
      border-color: limegreen;
    }
    #expiration-date.braintree-hosted-fields-invalid {
    border-color: tomato;
    }

  </style>
  </head>
  <body>
  <form id="checkout" method="post" action="/checkout">
    <script>
  BraintreeData.setup("yz2f2d9s3v4wmygp", "checkout", BraintreeData.environments.sandbox);
   </script>
    <div id="checkout"></div>
    <script type="text/javascript">
  braintree.setup(<%= @client_token %>, 'hosted-fields', {
    id: 'checkout',
    creditCard: {
      styles: {
        "input": {
          "font-size": "16pt",
          "color": "#3A3A3A"
         }},
          number: {
            selector: "#card-number",
            placeholder: "Credit Card #"
          },
          expirationDate: {
            selector: "#expiration-date",
            placeholder: "Exp"
          },
          cvv: {
            selector: "#cvv",
            placeholder: "CVV"
          }
        }
  });
    </script>
    <div id="card-number"></div>
    <div id="cvv"></div><div id="expiration-date"></div>
 
    <label>Customer First Name</label>
    <input type="text" id="first_name" name="first_name" size="20"></input>
    <label>Customer Last Name</label>
    <input type="text" id="last_name" name="last_name" size="20"></input>
    <div id="Address"></div>
    <label>Street Address</label>
    <input type="text" id="street_address" name="street_address" size="20"></input>
    <label>Postal Code</label>
    <input type="text" id="postal_code" name="postal_code" size="6"></input>
    <label>City</label>
    <input type="text" id="city" name="city" size="20"></input>
    <label>State</label>
    <input type="text" id="state" name="state" size="2"></input>
    <div id="submit"></div>
    <input type="submit" value="Pay $10">
  </form>
 </body>   
</html>