<html>
   <head>
     <title><%= @title %></title>
   </head>
   <a href="merchant_create">Submerchant Create</a>
   <a href="merchants">View Submerchants</a>
   <a href="sign_up">Partner Create</a>
   <a href="partners">View Partners</a>
   <a href="delegated">Drop-in Checkout</a>
   <a href="shipping">Paypal with Shipping</a>
   <a href="stored_customer">Existing Customer DI</a>
   <a href="transactions">Transations</a>
   <a href="customers">Customers</a>
   <a href="payment_methods">Payment Methods</a>
   <br></br>
   <a href="customer_select">Select User</a>
   <h1><%= @title %></h1>
   <body>
     <%= yield %>
   </body>
</html>