<html>
   <head>
     <title><%= @title %></title>
   </head>
   <a href="merchant_create">Submerchant Create</a>
   <a href="merchants">View Submerchants</a>
   <a href="sign_up">Partner Create</a>
   <a href="braintree">View Partners</a>
   <a href="delegated">Drop-in Checkout</a>
   <a href="shipping">Paypal with Shipping</a>
   <a href="stored_customer">Existing Customer DI</a>
   <h1><%= @title %></h1>
   <body>
     <%= yield %>
   </body>
</html>