<html>
  <head>
  </head>
  <body>
    <h1>Sub-merchant  Form</h1>
      <form action="/merchant_create" method="POST" id="braintree-payment-form">
      <h2>Customer Information</h2>
      <p>
        <label>First Name</label>
        <input type="text" name="first_name" id="first_name"></input>
      </p>
      <p>
        <label>Last Name</label>
        <input type="text" name="last_name" id="last_name"></input>
      </p>
       <p>
        <label>E-mail</label>
        <input type="text" name="email" id="email"></input>
      </p>
       <p>
        <label>Phone</label>
        <input type="text" name="phone" id="phone"></input>
      </p>
       <p>
        <label>Date of Birth</label>
        <input type="text" name="date_of_birth" id="date_of_birth"></input>
      </p>
       <p>
        <label>Social Security Number</label>
        <input type="text" name="ssn" id="ssn"></input>
      </p>
       <p>
        <label>Street Address</label>
        <input type="text" name="street_address" id="street_address"></input>
      </p>
       <p>
        <label>City</label>
        <input type="text" name="locality" id="locality"></input>
      </p>
       <p>
        <label>State</label>
        <input type="text" name="region" id="region"></input>
      </p>
      <p>
        <label>Postal Code</label>
        <input type="text" name="postal_code" id="postal_code"></input>
      </p>
       <p>
        <label>Routing Number</label>
        <input type="text" name="routing_number" id="routing_number"></input>
      </p>
       <p>
        <label>Account Number</label>
        <input type="text" name="account_number" id="account_number"></input>
      </p>
       <p>
        <label>Merchant Id</label>
        <input type="text" name="id" id="id"></input>
      </p>
      <input class="submit-button" type="submit" />
    </form>
  </body>
</html>