<table style="width:100%">
	<tr>
		<td>Merchant Account Id</td>
		<td>Status</td>	
	</tr>
	
<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.merchant_account_id %></td>
    <td><%= merchant.status %></td>
  </tr>  
<% end %>