<h1>Partners</h1>
<p>Below is a list of exisitng partners and their keys</p>
<% @partners.each do |partner| %>
  Name: <%= partner.partners_merchant_id %><br>
  Merchant Public Id: <%= partner.merchant_public_id %><br>
<% end %>