<table style="width:100%">
	<tr>
		<td>Id</td>
		<td>Token</td>
		<td>Payment Instrument Type</td>
		<td>Customer ID<td>
	</tr>
  <tr>
    <td><%= @payment_method.id %></td>
    <td><%= @payment_method.payment_token %></td>
    <td><%= @payment_method.payment_instrument_type %></td>
    <td><%= @payment_method.customer_id %></td>
  </tr>  






