<!DOCTYPE html
<html>
  <head>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>
  </head>
  <body>
  <form id="checkout" method="post" action="/checkout" name="checkout">
    <script>
  BraintreeData.setup("yz2f2d9s3v4wmygp", "checkout", BraintreeData.environments.sandbox);
   </script>
    <div id="Address"></div>
    <label>Street Address</label>
    <input type="text" id="street_address" name="street_address" size="20"></input>
    <label>Postal Code</label>
    <input type="text" id="postal_code" name="postal_code" size="6"></input>
    <label>City</label>
    <input type="text" id="city" name="city" size="20"></input>
    <label>State</label>
    <input type="text" id="state" name="state" size="2"></input>
    
    <div id="paypal"></div>
    <script type="text/javascript">
  braintree.setup(<%= @client_token %>, 'paypal', {
    container: "paypal",enableShippingAddress: "true",
      onSuccess: function(nonce, email, shippingAddress) {
        document.getElementById("street_address").setAttribute("value", shippingAddress.street_address);
        document.getElementById("postal_code").setAttribute("value", shippingAddress.postal_code);
        document.getElementById("city").setAttribute("value", shippingAddress.locality);
        document.getElementById("state").setAttribute("value", shippingAddress.region);
    }   
  });
    </script> 
    <input type="submit" value="Pay $10">
  </form>
 </body>   
</html>