<!DOCTYPE html
<html>
  <head>
  </head>
  <body>
  <p>Please enter the name of your business below, using underscores in place of spaces</p>	
  <form id="sign_up" method="post" action="/sign_up">
   <input type="text" name="partner_merchant_id" size="20" id="partner_merchant_id" />
      <input type="submit" value="Submit" />
    </form>
 </body>     
</html>
